.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
img{
    width: 500px;
}
input{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #F06C28;
}
button{
    width: 250px;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    background-color: #F06C28;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
}
button:hover{
    background-color: #AA7FE8;
}